header,
header .container {
  height: 60px;
}

header .container .logo {
  width: 90%;
}

header .container .menu {
  position: absolute;
  width: 100%;
}

header .container .menu ul {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 9999;
  width: 50%;
  background: #34394f;
  min-height: 100px;
  top: 30px;
  right: 0px;
}

header .container .menu ul li,
header .container .menu ul li a {
  display: block;
  width: 100%;
}

header .container .menu ul li a {
  color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  line-height: 25px;
  text-align: right;
}

header .container .shopping {
  width: 10%;
}

header .container .logo {
  margin-left: 20px;
}

header .container div.logo a {
  font-size: 18px;
  display: block;
}

header .container .shopping .wrap {
  display: flex;
}

header .container .shopping {
  margin-right: 20px;
}

slider {
  max-height: 120px;
}

slider .container.slider .slide-item h2 {
  left: 0px;
  top: 17%;
}
slider .container.slider .slide-item h2 > span {
  margin-bottom: -15px;
}
slider .container.slider .slide-item h2 > span,
slider .container.slider .slide-item h2 > small {
  font-size: 15px;
  margin-left: 25px;
  letter-spacing: 2px;
}

best-seller {
  margin-top: 30px;
}
best-seller ul {
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
best-seller ul li {
  width: 48%;
  margin-left: 3px;
  margin-right: 3px;
  min-height: 170px;
  margin-top: 30px;
}

best-seller ul li img {
  max-width: 180px;
  width: 100%;
}

best-seller ul li a {
  font-size: 12px;
  padding-top: 5px;
}

best-seller ul li p {
  font-size: 14px;
  padding-top: 5px;
}

best-seller ul li:first-child {
  width: 100%;
}

best-seller ul li:first-child h3 {
  font-size: 24px;
}
best-seller ul li:first-child small {
  font-size: 12px;
}
best-seller ul li:first-child p {
  font-size: 12px;
  padding-top: 15px;
}

best-seller ul li .action {
  top: 5px;
  right: 5px;
}

shipping {
  margin-top: 50px;
  min-height: 200px;
}

shipping .container {
  min-height: 200px;
}
shipping ul {
  flex-wrap: wrap;
}

shipping ul li {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

shipping ul li h3 {
  font-size: 16px;
}

promotion ul {
  flex-direction: column;
}
promotion ul li {
  width: 100%;
  height: auto;
  padding: 35px 65px;
}

promotion ul li img {
  width: 250px;
  height: 250px;
}

featured-products {
  margin-top: 50px;
}
featured-products > h3 {
  font-size: 25px;
}
featured-products > small {
  margin-top: 5px;
}
featured-products ul {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

featured-products ul li {
  width: 48%;
  margin-left: 3px;
  margin-right: 3px;
  min-height: 170px;
  padding-top: 30px;
}

featured-products ul li img {
  max-width: 180px;
  width: 100%;
}

featured-products ul li a {
  font-size: 12px;
  padding-top: 5px;
}

featured-products ul li p {
  font-size: 14px;
  padding-top: 5px;
}

discount-brand {
  height: auto;
}
discount-brand .container {
  flex-wrap: wrap;
}

discount-brand .discount {
  width: 100%;
  max-height: 150px;
}

discount-brand .discount h3 span {
  font-size: 16px;
  letter-spacing: 1px;
}

discount-brand .discount h3 small {
  padding: 0px 5px;
  font-size: 11px;
  margin-top: 5px;
}

discount-brand .discount form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

discount-brand .discount form input,
discount-brand .discount form button {
  width: 45%;
  height: 40px;
}

discount-brand .discount form input {
  padding: 0px 5px;
}

discount-brand .discount form button {
  font-weight: 400;
}

discount-brand .brand {
  width: 100%;
}
discount-brand .brand ul {
  flex-wrap: wrap;
  min-height: 200px;
}

discount-brand .brand ul li {
  padding: 10px 10px;
  width: 50%;
}

footer {
  height: auto;
}
footer .container {
  flex-direction: column;
}

footer .copyright {
  width: 100%;
  margin-top: 10px;
}

footer .copyright p {
  font-size: 70%;
  padding-top: 0px;
}

footer .payment {
  width: 100%;
}

footer .payment ul {
  padding-top: 10px;
  justify-content: center;
}

footer .payment ul li {
  padding: 0px 5px;
}
