* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
}

header .container {
  display: flex;
  height: 100px;
  align-items: center;
}

/* ** LOGO ** */
header .container .logo {
  width: 25%;
  margin-left: 70px;
}

header .container .logo > a {
  color: #3cb878;
  text-transform: uppercase;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
}

/* ** MENU ** */
header .container .menu {
  width: 50%;
}

header .container .menu > ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

header .container .menu > ul > li {
  display: inline-block;
}

header .container .menu > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #3f4853;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 0px 20px 0px 20px;
}

header .container .menu > ul > li > a.active {
  color: #3cb878;
}

header .container .menu > ul > li > a:hover {
  color: #3cb878;
}

/* ** SHOPPING ** */
header .container .shopping {
  width: 25%;
  margin-right: 70px;
}

header .container .shopping .wrap {
  float: right;
}

header .container .shopping .wrap a {
  background: url(../images/cart.png) no-repeat;
  display: block;
  width: 17px;
  height: 17px;
  float: left;
  margin-left: 30px;
  text-decoration: none;
}

header .container .shopping .wrap a.cart {
  background-position: 2;
  position: relative;
}

header .container .shopping .wrap a.cart > small {
  position: absolute;
  height: 20px;
  width: 20px;
  display: block;
  background: #3cb878;
  color: #fff;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  top: -12px;
  right: -12px;
}

header .container .shopping .wrap a.search {
  background-position: -45px;
}

header .container .shopping .wrap a.more {
  background-position: -90px;
}

/* SLIDER */
slider {
  width: 100%;
  height: 560px;
  display: block;
}

slider .container.slider {
  width: 100%;
}

slider .container.slider .slide-item {
  width: 100%;
}

slider .container.slider .slide-item > img {
  max-width: 100%;
  height: auto;
  position: relative;
}

slider .container.slider .slide-item h2 {
  line-height: 42px;
  position: absolute;
  top: 45%;
  left: 10%;
}

slider .container.slider .slide-item h2 > span,
slider .container.slider .slide-item h2 > small {
  text-transform: uppercase;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 5px;
}

slider .container.slider .slide-item h2 > span {
  color: #333333;
}

slider .container.slider .slide-item h2 > small {
  color: #3cb878;
  padding-top: 10px;
}

/* BEST SELLER */
best-seller {
  display: block;
  width: 100%;
  margin-top: 100px;
}
best-seller ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

best-seller ul li {
  width: 20%;
  min-height: 200px;
  margin-left: 15px;
  position: relative;
}

best-seller ul li img {
  max-width: 200px;
}

best-seller ul li img:hover {
  cursor: pointer;
}

best-seller ul li > a {
  text-decoration: none;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding-top: 20px;
}

best-seller ul li > p {
  color: #3cb878;
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  padding-top: 15px;
}

best-seller ul li:first-child {
  display: flex;
  align-items: center;
}

best-seller ul li:first-child h3 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  display: block;
}

best-seller ul li:first-child small {
  color: #3cb878;
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

best-seller ul li:first-child p {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-top: 30px;
}

/* ** ACTION ** */
best-seller ul li:hover .action {
  display: block;
}

best-seller ul li .action {
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
}

best-seller ul li .action a {
  background: url(../images/compare.png) no-repeat top;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  background-position: -8px -8px;
}

best-seller ul li .action a.heart {
  background-position: -8px -58px;
}

best-seller ul li .action a.compare {
  background-position: -8px -108px;
}

/* SHIPPING */
shipping {
  display: block;
  width: 100%;
  height: 200px;
  background: #f5f6f9;
  margin-top: 100px;
}

shipping ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

shipping ul li {
  width: 25%;
  display: block;
  text-align: center;
  border-left: 1px solid #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

shipping ul li h3 {
  text-transform: uppercase;
  color: #232323;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

shipping ul li small {
  color: #888888;
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
}

/* PROMOTION */
promotion {
  width: 100%;
  display: block;
  background: #2e3348;
}

promotion ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

promotion ul li {
  display: block;
  width: 33.3%;
  height: 426px;
  padding: 63px;
}

promotion ul li img {
  width: 300px;
  height: 300px;
}

promotion ul li.active {
  background: #34394f;
}

/* FEATURED PRODUCTS */
featured-products {
  width: 100%;
  margin-top: 100px;
  display: block;
}

featured-products > h3,
featured-products > small {
  text-align: center;
}

featured-products > h3 {
  text-transform: uppercase;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

featured-products > small {
  display: block;
  color: #3cb878;
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
}

featured-products ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

featured-products ul li {
  display: block;
  min-height: 200px;
  width: 20%;
  padding: 0px 30px 80px 30px;
}

featured-products ul li img {
  max-width: 100%;
}

featured-products ul li a {
  display: block;
  text-decoration: none;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  padding-top: 20px;
}

featured-products ul li p {
  color: #3cb878;
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  padding-top: 15px;
}

/* DISCOUNT & BRAND */
discount-brand {
  width: 100%;
  height: 250px;
  display: block;
  margin-top: 20px;
}

discount-brand div.container {
  display: flex;
  height: 100%;
}

/* ** DISCOUNT ** */
discount-brand .discount {
  width: 50%;
  background: url(../images/bg-special-discount.jpg) no-repeat;
  text-align: center;
  padding-top: 4%;
}

/* ** ** text ** ** */
discount-brand .discount h3 {
  color: #ffffff;
}

discount-brand .discount h3 span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}

discount-brand .discount h3 small {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  margin-top: 10px;
  padding: 0px 100px;
}

/* ** ** form ** ** */
discount-brand .discount form {
  margin-top: 20px;
}
discount-brand .discount form input {
  width: 300px;
  height: 45px;
  padding: 17px 25px 17px 25px;
  border: 1px solid #fff;
  border-radius: 0px;
}

discount-brand .discount form button {
  width: 200px;
  height: 45px;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 45px;
  color: #ffffff;
  background: #3cb878;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

/* ** BRAND ** */
discount-brand .brand {
  width: 50%;
  background: #f5f6f9;
}

discount-brand .brand ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
}

discount-brand .brand ul li {
  width: 25%;
  text-align: center;
}
discount-brand .brand ul li img {
  max-width: 100%;
  height: auto;
}

/* FOOTER */
footer {
  width: 100%;
  height: 55px;
  display: block;
  background: #000000;
}

footer .container {
  display: flex;
}

/* ** COPYRIGHT ** */
footer .copyright {
  width: 60%;
}

footer .copyright p {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 55px;
  text-align: center;
}

/* ** PAYMENT ** */
footer .payment {
  width: 40%;
}

footer .payment ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  padding-top: 15px;
}

footer .payment ul li {
  padding-left: 15px;
}
