/* Đặt margin và padding mặc định về 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thuộc tính cho cả body */
body {
    width: 1024px;
    margin: 0px auto;
    font-family: tahoma;
    font-size: 14px;
}

/* Thuộc tính cho header */
header {
    width: 100%;
    float: left;
}

header img {
    float: left;
    width: 100px;
    margin: 10px 0px 0px 100px;
}

header h2 {
    color: #b9704f;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 35px;
}

/* Thuộc tính cho thẻ nav */
nav {
    clear: left;
    background-color: #57a92b;
    width: 100%;
    height: 35px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul>li {
    float: left;
    position: relative;
}

nav ul>li a {
    display: block;
    color: white;
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    padding: 0px 35px;
    text-align: center;
}

nav ul li a:hover {
    color: red;
}

nav ul li ul.sub {
    position: absolute;
    width: 200px;
    background-color: skyblue;
    display: none;
}

nav ul li:hover ul.sub {
    display: block;
}

nav ul li ul.sub li {
    display: block;
}

nav ul li ul.sub li a {
    display: block;
    width: 200px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
}

nav ul li ul.sub li a:hover {
    color: yellow;
    background-color: blue;
}


/* Thuộc tính cho thẻ main */
main {
    width: 100%;
}

/** section **/
main section {
    width: 80%;
    float: left;
}

main section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main section ul li {
    clear: left;
    padding: 10px 10px 10px 0px;
}

main section ul li img {
    width: 225px;
    float: left;
    margin: 10px 5px 10px 10px;
}

main section ul li h3 {
    margin-bottom: 10px;
}

main section ul li h3:hover {
    color: orange;
    cursor: pointer;
}

main section ul li p {
    margin-bottom: 10px;
    text-align: justify;
}

main section ul li span {
    font-style: italic;
    font-size: 12px;
    margin-left: 50px;
}

main section ul li span:first-of-type {
    margin-left: 0px;
}

/** sidebar **/
main sidebar {
    width: 20%;
    float: left;
}

main sidebar img {
    width: 100%;
    margin-top: 10px;
    padding-right: 10px;
}

/* Thuộc tính cho thẻ footer */
footer {
    clear: both;
    width: 100%;
    height: 85px;
    background-color: #0d2201;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    line-height: 85px;
}