* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: tahoma;
    font-size: 14px;
    width: 1024px;
    margin: 0px auto;
}

header {
    width: 100%;
    float: left;
}

header img {
    width: 200px;
    float: left;
}

header h3 {
    color: #b9704f;
    text-align: center;
    margin-top: 45px;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
}

nav {
    width: 100%;
    height: 45px;
    background: #57a92b;
    clear: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul > li {
    float: left;
    position: relative;
}

nav ul.sub:hover {
    
}

nav ul li ul.sub {
    position: absolute;
    width: 200px;
    background: orange;
    display: none;
}
nav ul li ul.sub li {
    display: block;
}
nav ul li ul.sub li a {
    display: block;

}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 45px;
    height: 45px;
    padding: 0px 50px 0px 50px;
}

nav ul li a:hover {
    background: orange;
}

/**start for main**/
main {
    width: 100px;
}
main ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main section {
    width: 80%;
    float: left;
}

main ul li {
    clear: left;
    padding: 10px 10px 10px 0px;
}

main ul li img {
    float: left;
    margin-right: 20px;;
}

main ul li h3 {
    margin-bottom: 10px;
}

main ul li h3:hover {
    color: orange;
    cursor: pointer;
}

main ul li p {
    margin-bottom: 5px;
}

main ul li span {
    font-weight: bold;
}

/*sidebar*/
sidebar {
    width: 20%;
    float: left;
}

sidebar img {
    width: 100%;
    margin-top: 20px;
}

/* footer */
footer {
    clear: both;
    width: 100%;
    height: 60px;

}