* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#header {
    width: 620px;
    height: 88px;
}
div#header div {
    float: left;
}
div#header > div > p {
    color: #b9704f;
    font-family: Arial;
    font-size: 20px;
    padding: 35px 20px;
    height: 88px;
}
div#header > div > img {
    padding: 10px 0px 0px 40px;
}

div#nav {
    background-color: #57a92b;
    width: 620px;
    height: 34px;
    padding-left: 20px;
}
div#nav li {
    float: left;
    padding: 9px 12px;
    font-family: Arial;
    font-size: 14px;
    list-style-type: none;
}
div#nav a {
    text-decoration: none;
    color: white;
}
div#nav a:hover {
    text-decoration: underline;
    color: blue;
}

div#contents {
    width: 620px;
    height: 645px;
}
div.article {
    float: left;
    width: 440px;
}
div.article img {
    padding: 10px 5px 10px 10px;
}
div.article div {
    float: left;
}
div.article div.title {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px 0px 0px;
}
div.article div.art {
    font-family: Arial;
    font-size: 12px;
    padding: 10px 5px 0px 0px;
}
div.article div.ref {
    font-family: Arial;
    font-size: 11px;
    padding: 10px 5px 0px 0px;
}
div.article div.ref > span:first-child {
    float: left;
}
div.article div.ref > span:last-child {
    float: left;
    padding-left: 100px;
}

div.sidebar {
    float: left;
    width: 180px;
}
div.sidebar img {
    padding: 10px 10px 10px 5px;
}

div#footer {
    background-color: #0d2201;
    height: 84px;
    width: 620px;
}
div#footer p {
    color: white;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding: 33px 0px;
}

