html {
  font-size: 62.5%;
}
body {
  max-width: 1400px;
  margin: 0px auto;
  color: $text-color;
  background-color: $white-bg;
}
img {
  object-fit: cover;
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  display: inline-block;
  color: $text-color;
  font-family: "Poppins Medium";
  text-decoration: none;
  &.-name {
    font-size: $sz-text;
    line-height: $sz-text;
  }
  &.active,
  &:hover {
    color: $active-color;
  }
}
.-price {
  color: $active-color;
  font-family: "Droid-serif Regular";
  font-size: $sz-price;
  line-height: $sz-price;
}
.-text {
  color: $text-color;
  font-family: "Poppins Medium";
  font-size: $sz-text;
  line-height: $sz-text;
}
.-title {
  color: $text-color;
  font-family: "Poppins Bold";
  font-size: $sz-title;
  line-height: $sz-title;
}
.-small {
  color: $active-color;
  font-family: "Droid-serif Italic";
  font-size: $sz-small;
  line-height: $sz-small;
}
.--uppercase {
  text-transform: uppercase;
}
