.bestseller-container {
  width: 100%;
  .bestseller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 3rem;
    &__title {
      width: 19%;
      &-text {
        display: flex;
        flex-direction: column;
        h3 {
          letter-spacing: 0.2rem;
        }
        small {
          padding-top: 0.5rem;
        }
        p {
          padding-top: 2rem;
          word-break: break-all;
        }
      }
    }
    &__products {
      width: 79%;
      &-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .list__item {
          position: relative;
          width: 24%;
          &-detail {
            .-img {
              width: 100%;
              height: 40rem;
            }
            .-name {
              margin-top: 2rem;
            }
            .-price {
              margin-top: 0.5rem;
            }
          }
          &-hover {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            .-img {
              background: url(../img/common/compare.png) no-repeat;
              display: inline-block;
              width: 4rem;
              height: 4rem;
            }
            .cart {
              border-top-left-radius: 1rem;
              background-position: 0rem 0rem;
            }
            .like {
              background-position: 0rem -5rem;
              margin: 1rem 0;
            }
            .compare {
              border-bottom-left-radius: 1rem;
              background-position: 0rem -10rem;
            }
          }
          &:hover .list__item-hover {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
