@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"),
    url("../fonts/poppins/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium"),
    url("../fonts/poppins/Poppins-Medium.woff") format("woff");
}
@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins SemiBold"),
    url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Droid-serif Regular";
  src: url("../fonts/droid-serif/DroidSerif-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Droid-serif Italic";
  src: url("../fonts/droid-serif/DroidSerif-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$sz-small: 1.2rem;
$sz-text: 1.4rem;
$sz-h1: 2rem;
$sz-price: 2rem;
$sz-title: 3rem;
$sz-subtitle: 1.8rem;
$sz-text-25: 2.5rem;
$sz-totop: 3rem;

$white-bg: #fff;
$black-bg: #000;
$light-gray-bg: #f5f6f9;
$dark-blue-bg: #2e3348;
$dark-gray-blue-bg: #34394f;
$light-gray-blue-bg: #f5f6f9;

$text-color: #333;
$active-color: #3cb878;
$gray-8-color: #888;
$gray-7-color: #777;
$white: #fff;

$phone: 600px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
