@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"),
    url("../fonts/poppins/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium"),
    url("../fonts/poppins/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins SemiBold"),
    url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Droid-serif Regular";
  src: url("../fonts/droid-serif/DroidSerif-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid-serif Italic";
  src: url("../fonts/droid-serif/DroidSerif-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
  margin: 0px auto;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: "Poppins Regular";
  font-size: 1.4rem;
  line-height: 1.4rem;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #333;
  font-family: "Poppins Medium";
  text-decoration: none;
}

a.-name {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

a.active,
a:hover {
  color: #3cb878;
}

.-price {
  color: #3cb878;
  font-family: "Droid-serif Regular";
  font-size: 2rem;
  line-height: 2rem;
}

.-text {
  color: #333;
  font-family: "Poppins Medium";
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.-title {
  color: #333;
  font-family: "Poppins Bold";
  font-size: 3rem;
  line-height: 3rem;
}

.-subtitle {
  color: #333;
  font-family: "Poppins SemiBold";
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.-small {
  color: #3cb878;
  font-family: "Droid-serif Italic";
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.-icon {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

.-img {
  cursor: pointer;
}

.--uppercase {
  text-transform: uppercase;
}

.menu-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.menu-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem 7rem;
}

.menu-container .menu__logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.menu-container .menu__logo-text {
  font-size: 2rem !important;
}

.menu-container .menu__dir {
  width: 60%;
}

.menu-container .menu__dir-list {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-container .menu__dir-list .list__item-text {
  font-size: 1.4rem !important;
}

.menu-container .menu__right {
  width: 20%;
}

.menu-container .menu__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu-container .menu__right-list .list__item {
  margin-left: 2rem;
}

.menu-container .menu__right-list .list__item .-img {
  background: url(../img/common/cart.png) no-repeat;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
}

.menu-container .menu__right-list .list__item .cart {
  position: relative;
}

.menu-container .menu__right-list .list__item .cart__number {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  background: #3cb878;
  color: #fff;
  border-radius: 100%;
  line-height: 1.6rem;
  text-align: center;
}

.menu-container .menu__right-list .list__item .search {
  background-position: -4.5rem;
}

.menu-container .menu__right-list .list__item .burger {
  background-position: -9rem;
  display: none;
}

.slider {
  width: 100%;
}

.slider #owl-my,
.slider .owl-stage-outer,
.slider .owl-stage {
  max-height: 50rem;
}

.slider .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider #owl-my .item img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.slider .owl-dots {
  display: none;
}

.bestseller-container {
  width: 100%;
}

.bestseller-container .bestseller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7rem 3rem;
}

.bestseller-container .bestseller__title {
  width: 19%;
}

.bestseller-container .bestseller__title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bestseller-container .bestseller__title-text h3 {
  letter-spacing: 0.2rem;
}

.bestseller-container .bestseller__title-text small {
  padding-top: 0.5rem;
}

.bestseller-container .bestseller__title-text p {
  padding-top: 2rem;
}

.bestseller-container .bestseller__products {
  width: 79%;
}

.bestseller-container .bestseller__products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bestseller-container .bestseller__products-list .list__item {
  position: relative;
  width: 24%;
}

.bestseller-container .bestseller__products-list .list__item-detail .-img {
  width: 100%;
  height: 40rem;
}

.bestseller-container .bestseller__products-list .list__item-detail .-name {
  margin-top: 2rem;
}

.bestseller-container .bestseller__products-list .list__item-detail .-price {
  margin-top: 0.5rem;
}

.bestseller-container .bestseller__products-list .list__item-hover {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.bestseller-container .bestseller__products-list .list__item-hover .-img {
  background: url(../img/common/compare.png) no-repeat;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.bestseller-container .bestseller__products-list .list__item-hover .cart {
  border-top-left-radius: 1rem;
  background-position: 0rem 0rem;
}

.bestseller-container .bestseller__products-list .list__item-hover .like {
  background-position: 0rem -5rem;
  margin: 1rem 0;
}

.bestseller-container .bestseller__products-list .list__item-hover .compare {
  border-bottom-left-radius: 1rem;
  background-position: 0rem -10rem;
}

.bestseller-container
  .bestseller__products-list
  .list__item:hover
  .list__item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.staticblocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.staticblocks__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f6f9;
  padding: 5rem 0;
  margin: 0 0.05rem;
}

.staticblocks__item .diamond {
  background: url(../img/static-blocks/diamond.png) no-repeat center;
  background-size: contain;
}

.staticblocks__item .plane {
  background: url(../img/static-blocks/plane.png) no-repeat center;
  background-size: contain;
}

.staticblocks__item .return {
  background: url(../img/static-blocks/return.png) no-repeat center;
  background-size: contain;
}

.staticblocks__item .rocket {
  background: url(../img/static-blocks/rocket.png) no-repeat center;
  background-size: contain;
}

.staticblocks__item .-subtitle {
  text-transform: uppercase !important;
  padding-top: 2rem !important;
}

.staticblocks__item .-small {
  color: #888 !important;
  font-family: "Droid-serif Regular" !important;
  padding-top: 0.5rem !important;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2e3348;
  width: calc(100% / 3);
  height: auto;
  padding: 5rem 0;
}

.categories__item .-icon {
  width: 30rem !important;
  height: 30rem !important;
}

.categories__item .summerautumn {
  background: url(../img/categories/summer-autumn.png) no-repeat center;
  background-size: contain;
}

.categories__item .discount {
  background: url(../img/categories/30-discount.png) no-repeat center;
  background-size: contain;
}

.categories__item .newfashion {
  background: url(../img/categories/new-fashion.png) no-repeat center;
  background-size: contain;
}

.categories .--center {
  background-color: #34394f !important;
}

.productslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7rem 3rem;
}

.productslist__title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.productslist__title-text h3 {
  letter-spacing: 0.2rem;
}

.productslist__title-text small {
  padding-top: 0.5rem;
}

.productslist__products {
  padding-top: 5rem;
}

.productslist__products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.productslist__products-list .list__item {
  position: relative;
  margin-right: 2rem;
  margin-bottom: 5rem;
  width: 23%;
}

.productslist__products-list .list__item-detail .-img {
  width: 100%;
  height: 40rem;
}

.productslist__products-list .list__item-detail .-name {
  margin-top: 2rem;
}

.productslist__products-list .list__item-detail .-price {
  margin-top: 0.5rem;
}

.productslist__products-list .list__item-hover {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.productslist__products-list .list__item-hover .-img {
  background: url(../img/common/compare.png) no-repeat;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.productslist__products-list .list__item-hover .cart {
  border-top-left-radius: 1rem;
  background-position: 0rem 0rem;
}

.productslist__products-list .list__item-hover .like {
  background-position: 0rem -5rem;
  margin: 1rem 0;
}

.productslist__products-list .list__item-hover .compare {
  border-bottom-left-radius: 1rem;
  background-position: 0rem -10rem;
}

.productslist__products-list .list__item:hover .list__item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.subcribenclients {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subcribenclients__subcribe {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../img/subcribe-clients/bg-special-discount.jpg") no-repeat;
  padding: 5rem 0rem;
}

.subcribenclients__subcribe .-title {
  font-family: "Poppins SemiBold" !important;
  font-size: 2rem !important;
  line-height: 2rem !important;
  color: #fff !important;
  letter-spacing: 0.2rem;
}

.subcribenclients__subcribe .-text {
  font-family: "Droid-serif Regular" !important;
  font-size: 1.2rem !important;
  line-height: 2.5rem !important;
  color: #fff !important;
  text-align: center;
  margin: 2rem 0;
}

.subcribenclients__subcribe .form-container {
  width: 100%;
}

.subcribenclients__subcribe .form-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 5rem;
}

.subcribenclients__subcribe .form-container .form-input {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.5rem;
  margin-right: 0.25rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.subcribenclients__subcribe .form-container .form-submit {
  background-color: #3cb878;
  color: #fff;
  padding: 1.5rem 2rem;
  margin-left: 0.25rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.subcribenclients__clients {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subcribenclients__clients .-icon {
  width: 10rem !important;
  height: 10rem !important;
}

.subcribenclients__clients .brand-logo-1 {
  background: url(../img/subcribe-clients/brand-logo-1a.png) no-repeat center;
  background-size: contain;
}

.subcribenclients__clients .brand-logo-2 {
  background: url(../img/subcribe-clients/brand-logo-2a.png) no-repeat center;
  background-size: contain;
}

.subcribenclients__clients .brand-logo-3 {
  background: url(../img/subcribe-clients/brand-logo-3a.png) no-repeat center;
  background-size: contain;
}

.subcribenclients__clients .brand-logo-4 {
  background: url(../img/subcribe-clients/brand-logo-4a.png) no-repeat center;
  background-size: contain;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000;
  padding: 0rem 10rem;
}

.footer__copyright .-text {
  color: #888 !important;
}

.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__payment .-icon {
  margin: 0 0.5rem !important;
}

.footer__payment .visa {
  background: url(../img/footer/visa.png) no-repeat center;
  background-size: contain;
}

.footer__payment .paypal {
  background: url(../img/footer/paypal.png) no-repeat center;
  background-size: contain;
}

.footer__payment .amazon {
  background: url(../img/footer/amazon.png) no-repeat center;
  background-size: contain;
}

.footer__payment .maestro {
  background: url(../img/footer/maestro.png) no-repeat center;
  background-size: contain;
}

.footer__payment .amex {
  background: url(../img/footer/amex.png) no-repeat center;
  background-size: contain;
}
